body {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
}

/* Utilities */

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.container {
  max-width: 1536px;
  margin-inline: auto;
}

/* Header */

header {
  background-color: beige;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

header .icon {
  width: 2rem;
  height: 2rem;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style-type: none;
}

header nav ul li a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li a:focus {
  text-decoration: underline;
}

/* Main */

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-block: 1rem;
  padding-inline: 1.5rem;
}

/* Hero */

.hero h2 {
  font-size: 2rem;
  line-height: 1;
}

/* Job List */

.job-list {
  padding-block: 2rem;
}

.job-list ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  list-style-type: none;
  padding: 0;
}

.job-list ul li a {
  color: black;
  display: block;
  text-decoration: none;
  padding: 1rem;
  border: 1px gainsboro solid;
  border-radius: 1rem;
}

.job-list ul li a h2 {
  line-height: 1;
  font-size: 1.25rem;
  padding-block: 0 0.5rem;
}
