{% extends "base.html" %}
{% load static %}
{% block title %}
 Homepage - Whistle Watch Cards
{% endblock title %}
{% block content %}
 <section class="hero">
  <h2>Find Soccer Referee Jobs Near You</h2>
  <img src="{% static "jobboard/images/referee-red-card-hand-drawn.webp" %}" alt="A hand-drawn hand holding up a red card from soccer" width="250" height="250" />
 </section>
 <section class="job-list">
  <ul>
   {% for job in job_list %}
    <li>
     <a href="{{ job.get_absolute_url }}">
      {% if job.title %}
       <h2>{{ job.title }}</h2>
      {% else %}
       <h2>{{ job.home_team }} vs. {{ job.away_team }}</h2>
      {% endif %}
      <p>{{ job.date_time|date:"N j, o" }} at {{ job.date_time|date:"P" }}</p>
      <p>{{ job.location }}</p>
     </a>
    </li>
   {% empty %}
    <li>No jobs yet.</li>
   {% endfor %}
  </ul>
 </section>
{% endblock content %}
